@font-face {
    font-family: 'Muli';
    src: url('Muli-Light.woff2') format('woff2'),
        url('Muli-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('Muli-Regular.woff2') format('woff2'),
        url('Muli-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

