@font-face {
    font-family: 'Muli';
    src: url('Muli-Light.woff2') format('woff2'),
        url('Muli-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    }

    @font-face {
        font-family: 'Muli';
        src: url('Muli-Regular.woff2') format('woff2'),
            url('Muli-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    html,body{
        height: 100%;
        width: 100%;
        padding: 0!important;
        margin: 0!important;
        width: 100%;
        font-family: 'Muli';
    }

    a {
        text-decoration: none!important;
        color: darkgrey;
        padding: 10px;
        margin: 5px 0;
    }

    a:hover {
        color: palevioletred;
    }


    .container{
        height: 100%;
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap;
        margin:auto;
    }
    .container .row {
        margin: 0 15px;
        width: 1024px;
        height: 400px; 
        display: flex;
        text-align: left;
    }
    .container .row .body-content{
        width: 100%!important;
        font-size: 2.8rem;
    }
    .container .row .menu{
        width: 10%!important;
    }

    /* Menu  */
    .container .row .menu{
    writing-mode: vertical-rl;
    }

    .container .row .menu ul{
        list-style: none;
    }
    .container .row .menu ul li{
        display: inline;
    }

    .container .row .menu ul li a {
        text-decoration: none!important;
        font-size: 1.2rem;
        color: darkgrey;
        padding: 10px;
        margin: 5px 0;
    }

    .container .row .menu ul li a:hover {
        border-left: 2px dotted palevioletred;
        color: palevioletred;
        background-color: whitesmoke;
        cursor: crosshair;
    }

    /* Social Media  */

    .container .row .body-content ul{
        list-style: none;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
    }
    .container .row .body-content ul li{
        display: inline;
    }

    .container .row .body-content ul li a {
        text-decoration: none!important;
        font-size: 1.2rem;
        color: darkgrey;
        padding: 10px;
        margin: 5px 0;
    }

    .container .row .body-content ul li a:hover {
        color: palevioletred;
    }

    .container .row span.colored{
        color: palevioletred;
    }
    .container .row .social-media{
        padding: 40px 0px 0px;
        font-size: 1rem!important;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .container .row ul{
        list-style: none;
    }
    .container .row li{
        list-style: none;
    }

    .about-content{
        display: flex;
        flex-direction: row;
    }

    .about-content .col-50{
        width: 50%;
    }

    .greetings{
        padding-top: 70px;
    }

    @media (max-width: 768px){
        .about-content{
            display: flex;
            flex-direction: column;
        }
        #translate{
            width: 100%;
            order: 2;
            text-align: center;
        }

        .greetings{
            padding-top: 0!important;
        }
        #profilephoto{
            width: 100%;
            order: 1;
        }

        #profilephoto .img-responsive {
            max-width: 65%;
            height: auto;
            margin: 0 auto;
            display: block;
        }

        .contact-details{
            width: 80%;
            height: auto;
            margin: 0 auto;
            display: block;
        }
    }


    .img-responsive{
        max-width: 100%;
        height: auto;
    }
    /* --------------------
    MEDIA 
    ----------------------- */

    @media (min-width: 1024px){
        .container{
            width: 800px!important
        }
    }

    @media (max-width: 1023px){
        .container{
            width: 100%!important
        }
    }

    .hide{
        display: none;
    }
    .show{
        display: block;
    }
