*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../css/Montserrat-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    }

    @font-face {
        font-family: 'Montserrat';
        src: url('../css/Montserrat-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    html,body{
        scroll-behavior: smooth;
        font-family: 'Montserrat';
        background-color: white;
        color: black;
        transition: background-color 0.5s, color 0.5s;
    }

    div, section, span, ul, li, a, header{
    box-sizing: border-box;
    text-decoration: none !important;
}

/*css reset*/

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px 10px;
}

#menu li a{
    text-decoration: none !important;
    color: #637381;
    padding: 10px;
    margin: 5px 0;
    font-size: small;
    text-transform: uppercase;
}



#menu li a:active {
    font-weight: bolder;
    color: black;
}

#menu li .active {
    font-weight: bolder;
    color: black;
}

#menu li a:hover {
    font-weight: bolder;
    color: black;
}

a .logo{
    text-decoration: none !important;
    font-size: 38px;
    color: black;
    font-weight: bolder;
}

section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}

p {
    color: #637381;
    margin-top: 10px;
    }

b{
    color: black;
}

i{
    color:palevioletred 
}

#home{
   background-color: #fff;
}

.intro {
    width: 480px;
    padding-right: 120px;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.row { 
    width: 1024px;
    display: flex;
    align-items: center;
}

.photo img{
    width: 520px;
}


#projects{
     background-color: #fff;
}

#projects .projects {
    display: flex;
}

#projects .projects img {
    padding: 10px;
}

#photographs{
     background-color: #fff;
}

#contact{
    background-color: #fff;
}








